<style>
  input.ng-invalid.ng-dirty {
    border: 3px red solid;
  }
  .error{
    color: red;
  }
</style>

<h2>Sign up</h2>
<form (ngSubmit)="register()" [formGroup]="userFormGroup">
  <label>Username</label>
  <input formControlName="username">
  <div class="error" *ngIf="username.dirty && username.hasError('required')">Username is required</div>

  <div [formGroup]="passwordFormGroup">
    <div>
      <label>Password</label>
      <input type="password" formControlName="password">
      <div>Strength: {{passwordStrength}}</div>
      <div class="error" *ngIf="password.dirty && password.hasError('required')">Password is required</div>
    </div>

    <div>
      <label>Confirm password</label>
      <input type="password" formControlName="passwordConfirm">
      <div class="error" *ngIf="passwordConfirm.dirty && passwordConfirm.hasError('required')">Confirm your password</div>
      <div class="error" *ngIf="passwordConfirm.dirty && !passwordConfirm.hasError('required')
      && passwordFormGroup.hasError('matchingError')">Your password does not match
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="!userFormGroup.valid">Register</button>
</form>
