<!--<StackLayout class="p-20">-->
<!--<Label text="Tap the button" class="h1 text-center"></Label>-->
<!--<Button text="TAP" (tap)="onTap()" class="btn btn-primary btn-active"></Button>-->
<!--<Label [text]="message" class="h2 text-center" textWrap="true"></Label>-->
<!--</StackLayout>-->

<StackLayout>
    <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>

    <TextField hint="Email Address" keyboardType="email"
               autocorrect="false" autocapitalizationType="none" [(ngModel)]="email"></TextField>
    <TextField hint="Password" secure="true"></TextField>

    <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" class="submit-button" (tap)="submit()"></Button>
    <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>
</StackLayout>
